body {
    font-size: 23px;
}

input, select, textarea {
    font-size: 18px;
}

.navbar {
    visibility: visible;
    background-color: #29a3cc;
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;
    height: 90px;
}

img.navbar {
    width: 90px;
    height: 90px;
}

button.navbar {
    float: right;
    font-size: 120%;
    background-color: inherit;
    padding: 20px 30px;
    background-color: inherit;
    border: solid;
    border-width: 2px;
    border-color: #007399;
    width: 150px;
}

button.middle, button.left {
    border-right: none;
}

a {
    color: black;
    text-decoration: none;
}

a.logo {
    padding-top: 2px;
}
  
a.navbar:hover, button.navbar:hover {
    background-color: #cc5229;
    cursor: pointer;
}

button#report-journal {
    display: flex;
    justify-content: center;
}

#output {
    color: red;
}