button {
    font-size: 23px;
    cursor: pointer;
}

button.main {
    width: 266px;
    height: 133px;

    margin-right: 146px;
    margin-top: 5%;
    position: relative;

    background-image: linear-gradient(to bottom, #00ace6, white);
    
    border-radius: 25px;
    border: solid;
    border-width: 2px;
    border-color: #00ace6;
}

button.main:hover {
    cursor: pointer;
}

button.addRow, button.deleteRow, button.clear, button.submit {
    border-radius: 5px;
    border: solid;
    border-width: 1px;
    background-color: #e64900;;
}

button.addRow, button.submit {
    width: 120px;
    height: 53px;
}

button.deleteRow, button.clear {
    margin-left: 61px;
    font-size: 20px;
}

button.deleteRow {
    width: 93px;
    height: 46px;
}

button.clear {
    width: 80px;
    height: 26px;
}