div {
    visibility: hidden;
}

#time-period-selection, #table-div {
    position: absolute;
}

#date-error, #input-error {
    color: red;
}

#results-table {
    table-layout: fixed;
    width: 40%;
}