div {
    visibility: hidden;
}

#time-period-selection, #table-div {
    position: absolute;
}

#date-error, #input-error {
    color: red;
}

#results-table {
    table-layout: fixed;
}

input#date {
    font-size: 20px;
}

.journal-entry {
    padding-top: 2%;
    position: relative;
    font-size: 23px;
}

div#table-div, div#result {
    width: 90%;
}

#journal-entry, #results-table {
    width: 100%;
}

#result {
    padding-top: 2%;
}
/* 
#start-time-column, #end-time-column {
    white-space: nowrap;
} */

/* table {
    border-color: #e64900;
} */

/* th {
    background-color: #e64900;
} */